/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

@use '../scss/rrze-servicekatalog';

.wp-block-rrze-servicekatalog {
	.rrze-servicekatalog {
		a {
			cursor: not-allowed;
			pointer-events: none;
		}
		.filter-group,
		.filter-tag {
			.checklist {
				display: none;
			}
			button.checklist-toggle {
				padding: 10px 18px;
			}
		}
		.filter-group {
			box-shadow: none;
			border: none;
			width: inherit;
			padding: 0;
			margin: inherit;
			float: none;
		}
	}
}
